#article-content-panel {
}

#article-content-panel > div > .line.article-header > .text-block.prompt {
    width: 80px;
    text-align: center;
    margin-right: 20px;
}

#article-content-panel > div > .line.article-header > .text-block.value {
    padding-right: 20px;
}

#article-content-panel > div > .line.article-header > .text-block.right {
    float: right;
}

.push {
    width: 25px;
    text-align: center;
    padding-right: 20px;
}

#article-content-panel > div > .line > .date {
    float: right;
}

#article-content-panel > div > .line > .time {
    float: right;
}

#back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0 5px;
    font-size: 40px;
    line-height: 40px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: rgb(70, 70, 70);
    color: black;
}

#back-button:hover {
    background: rgb(100, 100, 100);
    cursor: pointer;
}
