#article-content-panel {
}

#article-content-panel > div > .line.article-header > .text-block.prompt {
    width: 80px;
    text-align: center;
    margin-right: 20px;
}

#article-content-panel > div > .line.article-header > .text-block.value {
    padding-right: 20px;
}

#article-content-panel > div > .line.article-header > .text-block.right {
    float: right;
}

