body {
    background: black;
    color: white;
    font-size: 25px;
    font-family: consolas, monaco, monospace;
    padding: 0;
    margin: 0;
}

.line {
    font-size: 0px;
}

.text-block {
    display: inline-block;
    font-size: 25px;
}

#wrapper {
    max-width: 1024px;
    margin: 8px auto;
}

