body {
    background: black;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: consolas, monaco, monospace;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.flow {
    position: fixed;
    font-size: 15px;
}

.bright {
    color: lime;
}

.dark {
    color: green;
}

.gold {
    color: yellow;
}

.hidden {
    display: none;
}
