body {
    margin: 0;
    padding: 0;
    border: 0;
    background: black;
    font-family: consolas, monaco, monospace;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

#app {
    width: 100vw;
    height: 100vh;
}

#sample {
    color: black;
}

.flow {
    position: fixed;
    margin: 0;
    font-size: 15px;
}

.spark {
    position: fixed;
    margin: 0;
    font-size: 15px;
    color: cyan;
    text-shadow: cyan 0 0 5px, cyan 0 0 5px, cyan 0 0 5px;
}

.bright {
    color: lime;
    text-shadow: lime 0 0 5px;
}

.dark {
    color: green;
    text-shadow: green 0 0 5px;
}

.bright.gold {
    font-weight: bold;
    color: #FFFF00;
    text-shadow: #FFFF00 0 0 5px;
}

.dark.gold {
    font-weight: bold;
    color: #FFFF00;
    text-shadow: #FFFF00 0 0 5px;
}

.hidden {
    display: none;
}
